<div class="row">
  <div class="card col-md-6">
    <div class="card-header">
      <h5>Agregar Contratos</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col">
            <label for="fechaContrato">fechaContrato</label>
            <input
              type="date"
              id="fechaContrato"
              formControlName="fechaContrato"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.fechaContrato.errors
              }"
            />
            <div
              *ngIf="submitted && f.fechaContrato.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.fechaContrato.errors.required">
                este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="">Sucursal</label>
            <select class="form-control" formControlName="sucursal">
              <option selected value="">Seleccionar Sucursal</option>
              <option *ngFor="let s of empresa.Sucursals" value="{{ s.id }}">
                {{ s.razonSocial }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="montoContrato">Monto Total Servicio</label>
            <input
              type="number"
              id="montoContrato"
              formControlName="montoContrato"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.montoContrato.errors
              }"
            />
            <div
              *ngIf="submitted && f.montoContrato.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.montoContrato.errors.required">
                este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="nContrato">N° Contrato</label>
            <div class="input-group">
              <input
                type="text"
                aria-describedby="button-buscarCausa"
                formControlName="nContrato"
                class="form-control"
                placeholder="numero Contrato"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-primary"
                  type="button"
                  id="button-buscarCausa"
                  (click)="validarContrato()"
                >
                  Crear
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer"></div>
  </div>
  <div class="card col-md-6">
    <div class="card-header">
      <h5>
        Contrato : {{ contrato.id }} Monto total: {{ contrato.montoContrato }}
      </h5>
    </div>

    <div class="card-body">
      <h5 class="card-title">Agregar Desglose</h5>
      <div class="form-row">
        <div class="form-group col">
          <label for="fechaCuota">Fecha Cuota</label>

          <input
            type="date"
            id="fechaCuota"
            [(ngModel)]="cuota.fechaPago"
            class="form-control"
          />
        </div>
        <div class="form-group col">
          <label for="nContrato">Monto Cuota</label>
          <div class="input-group">
            <input
              type="number"
              [(ngModel)]="cuota.montoCuota"
              aria-describedby="button-buscarCausa"
              class="form-control"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-primary"
                type="button"
                id="button-buscarCausa"
                (click)="agregarCuotas()"
              >
                + Cuota
              </button>
            </div>
            {{ cuota.fechaPago }} {{ cuota.montoCuota }}
          </div>
        </div>
      </div>
      <div class="form-row">
        <h5>Cuotas Registradas</h5>
        <table class="table table-hightligth table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cuotas">
              <td>{{ c.fechaPago }}</td>
              <td>{{ c.montoCuota }}</td>
            </tr>
          </tbody>
          <hr />

          <tfoot>
            Monto Por Asignar :
            {{
              saldoPendiente
            }}
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" (click)="guardarContrato()">
        Agregar
      </button>
    </div>
  </div>
</div>
