<h1 *ngIf="isAddMode">Agregar Usuarios</h1>
<h1 *ngIf="!isAddMode">Editar Usuarios</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="firstName">Nombres</label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
      />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">este campo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Apellidos</label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
      />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">este campo es requerido</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="username">Nombre Usuario</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
      />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">este campo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="password">
        Contraseña
        <em *ngIf="!isAddMode">(mantener en blanco para conservar password)</em>
      </label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">este capo es requerido</div>
        <div *ngIf="f.password.errors.minlength">
          La contraseña debe tener al menos 6 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Guardar
    </button>
    <a routerLink="/users" class="btn btn-link">Cancelar</a>
  </div>
</form>
