<h1 *ngIf="isAddMode">Agregar Usuarios</h1>
<h1 *ngIf="!isAddMode">Editar Usuarios</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group">
      <label for="RolID">RolUsuario</label>
      <select
        class="custom-select"
        name="RolID"
        id="RolID"
        formControlName="RolID"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.RolID.errors }"
      >
        <option selected>Seleccionar</option>
        <option *ngFor="let rol of roles" value="{{ rol.id }}">
          {{ rol.nombre }}
        </option>
        <div *ngIf="submitted && f.RolID.errors" class="invalid-feedback">
          <div *ngIf="f.RolID.errors.required">este campo es requerido</div>
        </div>
      </select>
    </div>
    <div class="form-group col">
      <label for="nombre">Nombres</label>
      <input
        type="text"
        formControlName="nombre"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
      />
      <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
        <div *ngIf="f.nombre.errors.required">este campo es requerido</div>
      </div>
    </div>

    <div class="form-group col">
      <label for="apellido">Apellidos</label>
      <input
        type="text"
        formControlName="apellido"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }"
      />
      <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
        <div *ngIf="f.apellido.errors.required">este campo es requerido</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="nombreUsuario">Nombre Usuario</label>
      <input
        type="text"
        formControlName="nombreUsuario"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.nombreUsuario.errors }"
      />
      <div *ngIf="submitted && f.nombreUsuario.errors" class="invalid-feedback">
        <div *ngIf="f.nombreUsuario.errors.required">
          este campo es requerido
        </div>
      </div>
    </div>
    <div class="form-group col">
      <label for="hash">
        Contraseña
        <em *ngIf="!isAddMode">(mantener en blanco para conservar hash)</em>
      </label>
      <input
        type="password"
        formControlName="hash"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.hash.errors }"
      />
      <div *ngIf="submitted && f.hash.errors" class="invalid-feedback">
        <div *ngIf="f.hash.errors.required">este capo es requerido</div>
        <div *ngIf="f.hash.errors.minlength">
          La contraseña debe tener al menos 6 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Guardar
    </button>
    <a routerLink="/users" class="btn btn-link">Cancelar</a>
  </div>
</form>
