<h1>Usuarios</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Agregar Usuarios</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 30%;">Nombres</th>
      <th style="width: 30%;">Apellidos</th>
      <th style="width: 30%;">Usuario</th>
      <th style="width: 10%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.username }}</td>
      <td style="white-space: nowrap;">
        <a routerLink="edit/{{ user.id }}" class="btn btn-sm btn-primary mr-1"
          >Editar</a
        >
        <button
          (click)="deleteUser(user.id)"
          class="btn btn-sm btn-danger btn-delete-user"
          [disabled]="user.isDeleting"
        >
          <span
            *ngIf="user.isDeleting"
            class="spinner-border spinner-border-sm"
          ></span>
          <span *ngIf="!user.isDeleting">Eliminar</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!users">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
