<div class="card">
  <div class="card-header">
    <h5 *ngIf="isAddMode">Agregar Egresos {{ empresa.razonSocial }}</h5>
    <h5 *ngIf="!isAddMode">Editar Egresos {{ empresa.razonSocial }}</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label for="idSucursal">Sucursal</label>
          <select
            class="custom-select"
            name="idSucursal"
            id="idSucursal"
            formControlName="idSucursal"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.idSucursal.errors }"
          >
            <option default>Seleccionar</option>
            <option *ngFor="let s of empresa.Sucursals" value="{{ s.id }}">
              {{ s.razonSocial }}
            </option>
          </select>
        </div>
        <div class="form-group col">
          <label for="tipoEgreso">Tipo Egreso</label>
          <select
            class="custom-select"
            name="tipoEgreso"
            id="tipoEgreso"
            formControlName="tipoEgreso"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.tipoEgreso.errors }"
          >
            <option value="">Seleccionar</option>
            <option value="Gastos">Gastos</option>
            <option value="Costos">Costos</option>
            <option value="Remuneraciones">Remuneraciones</option>
            <option value="Bancarios">Bancarios</option>
            <option value="Impuestos">Impuestos</option>
          </select>
        </div>
      </div>
      <div class="form-group col" *ngIf="f.tipoEgreso.value == 'Costos'">
        <label for="idIngreso">ID Ingreso</label>
        <input
          type="number"
          formControlName="idIngreso"
          class="form-control"
          value="{{ f.idIngreso}}"
        />
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="fecha">Fecha</label>
          <input
            type="date"
            formControlName="fecha"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }"
          />
          <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
            <div *ngIf="f.fecha.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group col">
          <label for="monto">Monto</label>
          <input
            type="number"
            formControlName="monto"
            class="form-control"
            value="{{ f.monto }}"
            [ngClass]="{ 'is-invalid': submitted && f.monto.errors }"
          />
          <div *ngIf="submitted && f.monto.errors" class="invalid-feedback">
            <div *ngIf="f.monto.errors.required">Campo requerido</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="responsable">Responsable</label>
          <input
            type="text"
            formControlName="responsable"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.responsable.errors }"
          />
          <div
            *ngIf="submitted && f.responsable.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.responsable.errors.required">
              Campo requerido
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="descripcion">Descripcion</label>
          <input
            type="text"
            formControlName="descripcion"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"
          />
          <div
            *ngIf="submitted && f.descripcion.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.descripcion.errors.required">
              Campo requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- respaldo de documantacion -->
        <app-respaldo
          (listo)="envv($event)"
          (respuesta)="resp($event)"
        ></app-respaldo>
        <!-- respaldo de documantacion -->
      </div>
      <div class="form-row">
        <div class="form-group">
          <button #guardar [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Guardar
          </button>
          <a routerLink="/egresos/lubricentro" class="btn btn-link">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
