<h4>Egresos Rent a Car</h4>
<a routerLink="add/4" class="btn btn-sm btn-success mb-2">Agregar Egresos</a>
<router-outlet></router-outlet>
<br />
<!-- Rounded switch -->
<div class="row">
  <label class="switch">
    <input type="checkbox" (change)="mostrar($event)" />
    <span class="slider round"></span>
  </label>
  <h5 class="col">Mostrar Listado</h5>
</div>
<div *ngIf="mostrarList">
  <button class="btn btn-outline-success mr-2" (click)="getSelectedRows()">
    Calcular Filtro: {{ total | currency: "CLP" }}
  </button>
  <button (click)="exportAsXLSX()" class="btn btn-success mr-2">
    <i class="fa fa-arrow-alt-circle-down"> </i>
    Exportar Datos
  </button>
  <button (click)="getDetalleEgreso()" class="btn btn-warning mr-2">
    DetalleEgreso
  </button>
  <!-- <button
    (click)="deleteEgreso()"
    disabled
    class="btn btn-danger ml-4 right-align"
  >
    <i class="fa fa-trash"> </i>
    Eliminar Datos
  </button> -->
  <button (click)="detalleEgreso()" class="btn btn-primary">
    <i class="fa fa-eye"> </i>
    Explorar Datos
  </button>
  <!--  -->
  <ag-grid-angular
    #agGrid
    id="agGrid"
    style="width: 100%; height: 500px"
    class="ag-theme-material"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    rowSelection="multiple"
  >
  </ag-grid-angular>
  <!--  -->
  <jw-modal id="documentosEgresoHostal">
    <h1>Respaldos</h1>
    <ag-grid-angular
      #agGrid2
      id="agGrid2"
      style="width: 100%; height: 500px"
      class="ag-theme-material"
      [rowData]="rowData2"
      (gridReady)="onGridReady2($event)"
      [columnDefs]="columnDefs2"
      [animateRows]="true"
      (selectionChanged)="onSelectionChanged()"
      rowSelection="multiple"
    >
    </ag-grid-angular>
    <button
      (click)="closeModal('documentosEgresoHostal')"
      class="btn btn-danger"
    >
      Cerrar
    </button>
  </jw-modal>
  <!--  -->
  <jw-modal id="detalleEgreso">
    <div class="card mb-3" *ngIf="detalle != null">
      <div class="card-header">
        <h5>Detalle {{ detalle["tipoEgreso"] }}</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID Egreso</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Sucursal</th>
                <th>Usuario</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ detalle["id"] }}</td>

                <td>{{ detalle["monto"] }}</td>

                <td>{{ detalle["fecha"] }}</td>

                <td>{{ detalle["Sucursal"]["razonSocial"] }}</td>

                <td>{{ detalle["Usuario"]["nombre"] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- TODO agregar campos opcionales de costos -->
    </div>
    <div
      class="card mb-3"
      *ngIf="detalle != null && detalle.tipoEgreso == 'Costos'"
    >
      <div class="card-header">
        <h5>Detalle Arriendo Asociado</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID Arriendo</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Sucursal</th>
                <th>Usuario</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ detalle["idArriendo"] }}</td>

                <td>{{ detalle["estado_arriendo"] }}</td>

                <td>{{ detalle["fechaEntrega_arriendo"] }}</td>

                <td>{{ detalle["tipo_arriendo"] }}</td>

                <td>{{ detalle["userAt"] }}</td>
                <td>{{ detalle["patente_vehiculo"] }}</td>
                <td>{{ detalle["marca_vehiculo"] }}</td>
                <td>{{ detalle["modelo_vehiculo"] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- TODO agregar campos opcionales de costos -->
    </div>

    <button (click)="closeModal('detalleEgreso')" class="btn btn-danger">
      Cerrar
    </button>
  </jw-modal>
  <!--  -->
</div>
