<div class="card">
  <div class="card-header">
    <h5>Ingresos FIRMA ABOGADOS CHILE</h5>
    <a
      class="btn btn-primary mr-2"
      (click)="openAnexos('anexos')"
      routerLink="listaContratos"
    >
      <i class="fa fa-archive" aria-hidden="true"></i> Contratos</a
    >

    <a
      class="btn btn-primary mr-2"
      (click)="openAnexos('anexos')"
      routerLink="listaClientes"
      ><i class="fa fa-address-book" aria-hidden="true"></i> Clientes</a
    >
    <!-- el outlet de estas rutas se encuentra al fuinal de este documento -->
  </div>

  <div class="card-body">
    <!-- buscar clientes agregar a tabla -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label for="rut">RUT Cliente</label>
          <div class="input-group">
            <input
              #rut
              id="rut"
              formControlName="rut"
              type="text"
              class="form-control"
              placeholder="Ingresar rut Cliente"
              aria-describedby="button-buscarcliente"
            />

            <div class="input-group-append">
              <button
                class="btn btn-outline-primary"
                type="button"
                id="button-buscarcliente"
                (click)="buscarExistencia()"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="nombreCliente">Nombre Cliente</label>
          <input
            type="text"
            formControlName="nombreCliente"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.nombreCliente.errors
            }"
          />

          <div
            *ngIf="submitted && f.nombreCliente.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.nombreCliente.errors.required">
              este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.email.errors
            }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">este campo es requerido</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="fono">Telefono</label>
          <input
            type="text"
            formControlName="fono"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.fono.errors
            }"
          />
          <div *ngIf="submitted && f.fono.errors" class="invalid-feedback">
            <div *ngIf="f.fono.errors.required">este campo es requerido</div>
          </div>
        </div>
        <div class="form-group col">
          <label for="direccion">Dirección</label>
          <input
            type="text"
            formControlName="direccion"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.direccion.errors
            }"
          />
          <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
            <div *ngIf="f.direccion.errors.required">
              este campo es requerido
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" (click)="guardarCliente()">
        Guardar
      </button>

      <!--TODO agregar span con cantidad de causas del cliente -->
    </form>
  </div>
  <div class="card-footer">
    <h5>Acciones</h5>
    <!-- llamando al modal con el listado de causas del cliente encontrado -->
    <button class="btn btn-primary col-6" (click)="mostrarContratos()">
      Mostrar Contratos Cliente
    </button>
    <!-- llamando al modal para agregar nuevas causas al cliente -->
    <button
      class="btn btn-success col-6"
      (click)="agregarCausas('addContratos')"
    >
      + Contratos
    </button>
  </div>
  <ng-container class="mt-3" #componenteDinamico></ng-container>
  <jw-modal id="addContratos">
    <app-contratos-form
      [idEmpresa]="idEmpresa"
      [idCliente]="idCliente"
    ></app-contratos-form>
  </jw-modal>
</div>
<jw-modal id="anexos">
  <router-outlet></router-outlet>
  <button type="button" class="btn btn-danger" (click)="closeModal('anexos')">
    Cerrar
  </button>
</jw-modal>
