<h1>Registros Rent a Car</h1>
<p>Selecciona el tipo de Transaccion a Ingresar</p>

<a
  routerLink="/registros/rent/ingresoRentacar"
  class="btn btn-sm btn-success mb-2"
  >Registrar Ingresos</a
>
<a
  routerLink="/registros/rent/egresoRentacar"
  class="btn btn-sm btn-danger mb-2 ml-2"
  >Registrar Egresos</a
>
<br />
<router-outlet></router-outlet>
<!-- <br />
<h5>Histórico de Registros</h5>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Patente</th>
      <th>Dias</th>
      <th>Monto</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros">
      <td><{{ registro.fecha }}</td>
      <td><{{ registro.cliente }}</td>
      <td><{{ registro.patente }}</td>
      <td><{{ registro.cantidadDias }}</td>
      <td><{{ registro.monto }}</td>
      <td style="white-space: nowrap;">
        <a
          routerLink="edit/{{ registro.id }}"
          class="btn btn-sm btn-primary mr-1"
          >Editar</a
        >
        <button
          (click)="eliminarRegistro(registro.id)"
          class="btn btn-sm btn-danger"
          [disabled]="registro.isDeleting"
        >
          <span
            *ngIf="registro.isDeleting"
            class="spinner-border spinner-border-sm"
          ></span>
          <span *ngif="!registro.isDeleting">Eliminar</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
 -->
