<div class="wrapper">
  <nav id="sidebar" #sidebar *ngIf="user">
    <div class="sidebar-header">
      <h3
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Finanzas Grupo Firma
      </h3>
    </div>

    <ul class="list-unstyled components">
      <!--  <p>Cabecera Publicitaria</p> -->
      <li class="active">
        <a
          href="#registrarIngresos"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Registrar Ingresos</a
        >
        <ul class="collapse list-unstyled" id="registrarIngresos">
          <li>
            <a routerLink="/ingresos/hostal/" routerLinkActive="active"
              >HOSTAL PLAZA MAULE</a
            >
          </li>
          <li>
            <a routerLink="/ingresos/abogados" routerLinkActive="active"
              >FIRMA ABOGADOS CHILE</a
            >
          </li>
          <li>
            <a routerLink="/ingresos/rentacar" routerLinkActive="active"
              >RENT A CAR</a
            >
          </li>
        </ul>
        <a
          href="#registrarEgresos"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Registrar Egresos</a
        >
        <ul class="collapse list-unstyled" id="registrarEgresos">
          <li>
            <a routerLink="/egresos/hostal" routerLinkActive="active"
              >HOSTAL PLAZA MAULE</a
            >
          </li>
          <li>
            <a routerLink="/egresos/firmaAbogado" routerLinkActive="active"
              >FIRMA ABOGADOS CHILE</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Dash</a>
        <a
          href="#administracion"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Administración</a
        >
        <ul class="collapse list-unstyled" id="administracion">
          <li>
            <a routerLink="/users" routerLinkActive="active">Usuarios</a>
          </li>
          <li>
            <a routerLink="/empresas" routerLinkActive="active">Empresas</a>
          </li>
          <li>
            <a routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
          </li>
        </ul>
        <a (click)="logout()"
          >SALIR <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <p>
          <img
            class="img-thumbnail"
            routerLink="https://www.imlchile.cl"
            src="https://i.ibb.co/vHhnLfT/LOGO-GRUPO-FIRMA.png"
            width="125"
            height="33"
          />
        </p>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          type="button"
          id="sidebarCollapse"
          (click)="colapsarSide()"
          class="navbar-btn"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blanck"
                href="https://www.imlchile.cl/grupofirma"
                ><i class="fa fa-address-book">RRHH</i></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blanck"
                href="https://imlchile.cl:5443/"
                ><i class="fas fa-photo-video">Video Conferencia</i></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blanck"
                href="https://imlchile.cl/helpdesk/scp/"
                ><i class="fas fa-concierge-bell">Servicios</i></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
