<h1 *ngIf="isAddMode">Agregar Ingresos</h1>
<h1 *ngIf="!isAddMode">Editar Usuarios</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="fecha">Fecha</label>
      <input
        type="date"
        formControlName="fecha"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }"
      />
      <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
        <div *ngIf="f.fecha.errors.required">este campo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="monto">Monto</label>
      <input
        type="number"
        formControlName="monto"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.monto.errors }"
      />
      <div *ngIf="submitted && f.monto.errors" class="invalid-feedback">
        <div *ngIf="f.monto.errors.required">este campo es requerido</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="cliente">Cliente</label>
      <input
        type="text"
        formControlName="cliente"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.cliente.errors }"
      />
      <div *ngIf="submitted && f.cliente.errors" class="invalid-feedback">
        <div *ngIf="f.cliente.errors.required">este campo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="patente">
        Patente
      </label>
      <input
        type="text"
        formControlName="patente"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.patente.errors }"
      />
      <div *ngIf="submitted && f.patente.errors" class="invalid-feedback">
        <div *ngIf="f.patente.errors.required">este capo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="marca">
        Marca Vehiculo
      </label>
      <input
        type="text"
        formControlName="marca"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.marca.errors }"
      />
      <div *ngIf="submitted && f.marca.errors" class="invalid-feedback">
        <div *ngIf="f.marca.errors.required">este capo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="modelo">
        Modelo Vehiculo
      </label>
      <input
        type="text"
        formControlName="modelo"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.modelo.errors }"
      />
      <div *ngIf="submitted && f.modelo.errors" class="invalid-feedback">
        <div *ngIf="f.modelo.errors.required">este capo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="cantidadDias">
        Cantidad Dias
      </label>
      <input
        type="number"
        formControlName="cantidadDias"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.cantidadDias.errors }"
      />
      <div *ngIf="submitted && f.cantidadDias.errors" class="invalid-feedback">
        <div *ngIf="f.cantidadDias.errors.required">este capo es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="empresaCopago">
        Empresa Copago
      </label>
      <input
        type="text"
        formControlName="empresaCopago"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.empresaCopago.errors }"
      />
      <div *ngIf="submitted && f.empresaCopago.errors" class="invalid-feedback">
        <div *ngIf="f.empresaCopago.errors.required">
          este capo es requerido
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Guardar
    </button>
    <a routerLink="/registros/rent" class="btn btn-link">Cancelar</a>
  </div>
</form>
