<br />
<h1 *ngIf="isAddMode">Agregar Costos</h1>
<h1 *ngIf="!isAddMode">Editar Usuarios</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="">FECHA</label>
      <input class="form-control" formControlName="fecha" type="date" />
    </div>
    <div class="form-group col">
      <label for="">MONTO</label>
      <input class="form-control" formControlName="monto" type="number" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="">Descripcion</label>
      <input
        class="form-control"
        formControlName="descripcion"
        type="text-area"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="">Responsable</label>
      <input class="form-control" formControlName="responsable" type="text" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" />
        <label class="custom-file-label" for="customFile">Seleccionar </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Guardar
    </button>
    <a routerLink="/registros/rent" class="btn btn-link">Cancelar</a>
  </div>
</form>
<br />

<app-lis-costos></app-lis-costos>
