<div class="card">
  <div class="card-header">
    <h5>Listado Clientes</h5>
    <div class="d-flex bd-highlight mb-3">
      <div class="mr-auto p-2 bd-highlight">
        <button type="button" class="btn btn-success" (click)="exportAsXLSX()">
          Exportar
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button
          type="button"
          class="btn btn-primary align-right"
          (click)="ngOnInit()"
        >
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ag-grid-angular
      #agGrid
      id="agGrid"
      style="width: 100%; height: 500px"
      class="ag-theme-material"
      [rowData]="rowData | async"
      (gridReady)="onGridReady($event)"
      [columnDefs]="columnDefs"
      [animateRows]="true"
      rowSelection="multiple"
    >
    </ag-grid-angular>
  </div>
</div>
