<div class="card">
  <div class="card-header">
    <p>Registro de Cuotas</p>
    <div class="d-flex bd-highlight mb-3">
      <div class="mr-auto p-2 bd-highlight">
        <button
          type="button"
          class="btn btn-success mr-2"
          (click)="exportAsXLSX()"
        >
          Exportar
        </button>
        <button
          type="button"
          class="btn btn-secondary mr-2"
          (click)="agregarRespaldos('detalleRespaldos')"
        >
          <i class="fas fa-upload"></i>
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button
          type="button"
          class="btn btn-primary align-right"
          (click)="ngOnInit()"
        >
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ag-grid-angular
      #agGrid
      id="agGrid"
      (gridReady)="onGridReady($event)"
      style="width: 100%; height: 500px"
      class="ag-theme-material"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [animateRows]="true"
      rowSelection="multiple"
    ></ag-grid-angular>
  </div>
</div>
<jw-modal id="detalleRespaldos">
  <div class="card">
    <div class="card-body">
      <table class="table table-hover bg-dark text-white">
        <thead>
          <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Descargar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of respaldos">
            <td>{{ r.id }}</td>
            <td>{{ r.url }}</td>
            <td>
              <button
                type="button"
                class="btn btn-success"
                (click)="descargarArchivo(r.url)"
              >
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-respaldos-firma (respuesta)="envv($event)"></app-respaldos-firma>

  <button
    type="button"
    class="btn btn-danger"
    (click)="cerrarModal('detalleRespaldos')"
  >
    Cerrar
  </button>
</jw-modal>
