<h1>Empresas</h1>
<a routerLink="/empresas/add" class="btn btn-sm btn-success mb-2"
  >Agregar Empresas</a
>

<table class="table table-striped">
  <thead>
    <tr>
      <th>RazonSocial</th>
      <th>RUT</th>
      <th>Descripción</th>
      <th>Giro</th>
      <th>Actividad</th>
      <th>Direccion</th>

      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas">
      <td>{{ empresa.razonSocial }}</td>
      <td>{{ empresa.rut }}</td>
      <td>{{ empresa.descripcion }}</td>
      <td>{{ empresa.giro }}</td>
      <td>{{ empresa.actividad }}</td>
      <td>{{ empresa.direccion }}</td>
      <td style="white-space: nowrap">
        <a
          routerLink="edit/{{ empresa.id }}"
          class="btn btn-sm btn-primary mr-1"
          >Editar</a
        >
        <button
          (click)="deleteEmpresa(empresa.id)"
          class="btn btn-sm btn-danger btn-delete-empresa"
          [disabled]="empresa.isDeleting"
        >
          <span
            *ngIf="empresa.isDeleting"
            class="spinner-border spinner-border-sm"
          ></span>
          <span *ngIf="!empresa.isDeleting">Eliminar</span>
          <br />
        </button>
      </td>
    </tr>
    <tr *ngIf="!empresas">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
