<div class="card">
  <div class="card-header">
    <h5>Agregar Causas</h5>
    <p>{{ msje }}</p>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label for="codigo">Codigo Causa</label>
          <div class="input-group">
            <input
              type="text"
              aria-describedby="button-buscarCausa"
              formControlName="codigo"
              class="form-control"
              placeholder="ROL/RUC"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-primary"
                type="button"
                id="button-buscarCausa"
                (click)="buscarCausa()"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            id="titulo"
            formControlName="titulo"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.titulo.errors
            }"
          />
          <div *ngIf="submitted && f.titulo.errors" class="invalid-feedback">
            <div *ngIf="f.titulo.errors.required">este campo es requerido</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <select class="form-control" formControlName="sucursal">
            <option selected value="">Seleccionar Sucursal</option>
            <option *ngFor="let s of empresa.Sucursals" value="{{ s.id }}">
              {{ s.razonSocial }}
            </option>
          </select>
        </div>
        <div class="form-group col">
          <select class="form-control" formControlName="materia">
            <option value="" default>Seleccionar Materia</option>
            <option value="PENAL" default>PENAL</option>
            <option value="FAMILIA" default>FAMILIA</option>
            <option value="LABORAL" default>LABORAL</option>
            <option value="CIVIL" default>CIVIL</option>
          </select>
        </div>
        <div class="form-group col">
          <select multiple class="form-control" formControlName="abogado">
            <option value="">Seleccionar Equipo</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="montoCausa">Monto Total Servicio</label>
          <input
            type="number"
            id="montoCausa"
            formControlName="montoCausa"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.montoCausa.errors
            }"
          />
          <div
            *ngIf="submitted && f.montoCausa.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.montoCausa.errors.required">
              este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label for="diaPago">Dia de Pago</label>
          <select
            type="number"
            id="diaPago"
            formControlName="diaPago"
            class="form-control"
            aria-valuemax="31"
            [ngClass]="{
              'is-invalid': submitted && f.diaPago.errors
            }"
          >
            <option value="{{ dia }}" *ngFor="let dia of dias">
              {{ dia }}
            </option>
          </select>
        </div>
        <div class="form-group col">
          <label for="cantidadCuotas">Cantidad Cuotas</label>
          <div class="input-group mb-3">
            <input
              #cantidadCuotas
              id="cantidadCuotas"
              formControlName="cantidadCuotas"
              type="number"
              class="form-control"
              placeholder="Ingresar cantidadCuotas Causa"
              aria-describedby="button-calcular"
            />

            <div class="input-group-append">
              <button
                class="btn btn-outline-primary"
                type="button"
                id="button-calcular"
                (click)="calcularCuotas()"
              >
                Calcular
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <ul>
          <li *ngFor="let c of cuotas">
            {{ c.fechaPago }} a pagar {{ c.montoCuota | currency: "CLP" }}
          </li>
        </ul>
      </div>

      <button
        *ngIf="rolExiste"
        class="btn btn-success"
        (click)="guardarCausa()"
      >
        Agregar
      </button>
    </form>
  </div>
  <div class="card-footer">
    <p>
      Esta causa pertenece a: {{ nombreCliente }} con el RUT: {{ rutCliente }}
    </p>
  </div>
</div>
