<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombreUsuario">Usuario</label>
        <input
          type="text"
          formControlName="nombreUsuario"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nombreUsuario.errors }"
        />
        <div
          *ngIf="submitted && f.nombreUsuario.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.nombreUsuario.errors.required">
            Se requiere Nombre de Usuario
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="hash">Contraseña</label>
        <input
          type="password"
          formControlName="hash"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.hash.errors }"
        />
        <div *ngIf="submitted && f.hash.errors" class="invalid-feedback">
          <div *ngIf="f.hash.errors.required">Se requiere Contraseña</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Login
        </button>
        <!--   <a routerLink="../register" class="btn btn-link"
          >Registrar Nuevo Usuario</a
        > -->
      </div>
    </form>
  </div>
</div>
