<br />
<h5>{{ rowData }}</h5>
<button class="btn btn-primary" (click)="cargar()">Registrar Pago</button>
<ag-grid-angular
  #agGrid
  id="agGrid"
  (gridReady)="onGridReady($event)"
  style="width: 100%; height: 500px"
  class="ag-theme-material"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [animateRows]="true"
></ag-grid-angular>
<!-- rowSelection="multiple"  -->
<jw-modal id="modal_pagoCausa">
  <h1>{{ row }}</h1>
  <app-pago-causa [row]="row" [causa]="causa"></app-pago-causa>
</jw-modal>
